body {
    margin: 0px;
    font-family: helvetica-neue-LT-reg,helvetica neue light,Helvetica,Arial;
}

.container {
    display: grid;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 28px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.left-side {
    display: flex;
}

.nav-bar > .left-side > div {
    margin-right: 60px;
    font-size: 1.3em;
}

.nav-link-bar {
    height: 22px;
    border-style: none;
}

.nav-link-bar a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-bar a:hover {
    color: #8c8c8c;
}

