body {
    margin: 0px;
    font-family: helvetica-neue-LT-reg,helvetica neue light,Helvetica,Arial;
}

.container {
    display: grid;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    padding-top: 0px;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.left-side {
    display: flex;  
    align-items: center;
}

.nav-bar > .left-side > div {
    margin-right: 60px;  
}

.nav-link-bar {
    height: 24px;
    border-style: none;
}

.nav-link-bar a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
    margin-left: 20px;
}

.nav-link-bar a:hover {
    color: #8c8c8c;
}

.nav-logo-bar img {
    margin-top: 10px;
    margin-left: -50px;
}

